
.pad-top-row {
  margin-top:20px;
}

.program-function {
  text {
    fill:$fun-txt-color;
  }
  rect {
    stroke:black;
    fill:$fun-def-color;
  }
}

.program-instruction {
  text {
    fill:$inst-txt-color;
  }
  rect {
    stroke:black;
    fill:$inst-def-color;
  }
}

.program-instruction[knockout="true"] {
  text {
    fill:$inst-txt-color-ko;
  }
  rect {
    stroke:black;
    fill:$inst-def-color-ko;
  }
}

.program-function[knockout="true"] {
  text {
    fill:$fun-txt-color-ko;
  }
  rect {
    stroke:black;
    fill:$fun-def-color-ko;
  }
  .program-instruction {
    @extend .program-instruction[knockout="true"];
  }
}
