
.pad-top-row {
  margin-top:20px;
}

// #select_prog_dropdown_btn {
//   width:100%;
// }

.program-function {
  .function-def-txt {
    fill:$fun-txt-color;
  }
  .function-def-rect {
    stroke:black;
    fill:$fun-def-color;
  }
}

.program-instruction {
  .program-instruction-txt {
    fill:$inst-txt-color;
  }
  .program-instruction-blk {
    stroke:black;
    fill:$inst-def-color;
  }
  .fitness-contribution-blk {
    stroke:black;
  }
}

.program-instruction[knockout="true"] {
  .program-instruction-txt {
    fill:$inst-txt-color-ko;
  }
  .program-instruction-blk {
    stroke:black;
    fill:$inst-def-color-ko;
  }
  // .fitness-contribution-blk {
  //   fill:grey;
  // }
}

.program-function[knockout="true"] {
  .program-instruction-txt {
    fill:$fun-txt-color-ko;
  }
  .program-instruction-blk {
    stroke:black;
    fill:$fun-def-color-ko;
  }
  .program-instruction {
    @extend .program-instruction[knockout="true"];
  }
}

.deme_cell[knockout="true"] {
  rect {
    fill:$deme-cell-color-ko;
  }
}
